<header>
	<nav class="be-red white large-padding">
		<ul class="no-list row center-xs middle-xs">
			<li class="col-md">
				<h1 class="no-margin" id="logo"><%= link_to "Logo", root_path %></h1>
			</li>
      <li class="col-md">
        <%= link_to "Restaurantes", restaurants_path %>
      </li>
      <li class="col-md">
        <%= link_to "Platillos", dishes_path %>
      </li>
      
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <li class="col-md">
            
          </li>
        <%else%>
          <li class="col-md">
          
          </li>
        <% end %>
      <%else%>
        <li class="col-md">
          
        </li>
      <% end %>

      <% if user_signed_in? %>
        <li class="col-md">
          
        </li>
        <li class="col-md">
          <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
        </li>
      <%else%>
        <li class="col-md">
          <%= link_to "Iniciar sesión", new_user_session_path %>
        </li>
        <li class="col-md">
          <%= link_to "Crear cuenta", new_user_registration_path %>
        </li>
      <% end %>
		</ul>
	</nav>
</header>