<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--<div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :order_user_id %>
  </div>-->

  <div class="field">
    <%= form.label "Restaurante" %>
    <%= form.collection_select :restaurant_id, Restaurant.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label "Platillo" %>
    <%= form.collection_select :dish_id, Dish.all, :id, :name %>
  </div>

  <div class="field hidden">
    <%= form.label :date %>
    <%= form.datetime_select :date, id: :order_date %>
  </div>

  <div class="field">
    <%= form.label "Sub total" %>
    <%= form.text_field :sub_total, readonly: :true, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label "Impuestos" %>
    <%= form.text_field :taxes, readonly: :true, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label "Total" %>
    <%= form.text_field :total, readonly: :true, class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar", class:"btn be-red white" %>
  </div>
<% end %>
