<div class="cont">
  <!--<p id="notice"><%= notice %></p>-->

  <h1>Ordenes</h1>
  <%= link_to '+ Agregar', new_dish_order_path, class:"btnAdd" %>

  <table class="table">
    <thead>
      <tr>
        <!--<th>User</th>-->
        <th>Restaurante</th>
        <th>Platillo</th>
        <th>Fecha</th>
        <th>Sub total</th>
        <th>Impuestos</th>
        <th>Total</th>
        <th colspan="2">Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <!--<td><%= order.user %></td>-->
          <td><%= link_to order.restaurant, order %></td>
          <td><%= link_to order.dish, order %></td>
          <td><%= link_to order.date, order %></td>
          <td><%= link_to order.sub_total, order %></td>
          <td><%= link_to order.taxes, order %></td>
          <td><%= link_to order.total, order %></td>
          <!--<td><%= link_to 'Show', order %></td>-->
          <td><%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_order_path(order) %></td>
          <td><%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, order, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>