<%= form_with(model: dish, local: true) do |form| %>
  <% if dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
      <% dish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--<div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :dish_user_id %>
  </div>-->

  <div class="field">
    <%= form.label "Restaurante" %>
    <%= form.collection_select :restaurant_id, Restaurant.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label "Grupo de platillo" %>
    <%= form.select :dish_group,  [['Entrees', 'Entrees'], ['Soups & Salads', 'Soups & Salads'], ['Desserts', 'Desserts'], ['Drinks', 'Drinks']] %>
  </div>

  <div class="field">
    <%= form.label "Nombre" %>
    <%= form.text_field :name, id: :dish_name, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label "Descripción" %>
    <%= form.text_area :description, id: :dish_description, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label "Precio" %>
    <%= form.number_field :price, id: :dish_price, step: :any, class:"form-control" %>
  </div>

  <div class="field">
    Foto: <%= form.file_field :photo %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar", class:"btn be-red white" %>
  </div>
<% end %>
