<div class="cont">

  <!--<p id="notice"><%= notice %></p>-->

  <h1>Platillos</h1>
  <%= link_to '+ Agregar', new_dish_path, class:"btnAdd" %>

  <table class="table">
    <thead>
      <tr>
        <!--<th>User</th>-->
        <th>Restaurante</th>
        <th>Grupo de platillo</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th colspan="2">Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @dishes.each do |dish| %>
        <tr>
          <!--<td><%= dish.user.email %></td>-->
          <td><%= link_to dish.restaurant.name, dish %></td>
          <td><%= link_to dish.dish_group, dish %></td>
          <td><%= link_to dish.name, dish %></td>
          <td><%= link_to dish.description, dish %></td>
          <td><%= link_to dish.price, dish %></td>
          <!--<td><%= link_to 'Show', dish %></td>-->
          <td><%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_dish_path(dish) %></td>
          <td><%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, dish, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
