<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @dish.user.email %>
</p>

<div class="field">
  <%= image_tag @dish.photo.url() %>
</div>

<p>
  <strong>Restaurant:</strong>
  <%= @dish.restaurant.name %>
</p>

<p>
  <strong>Dish group:</strong>
  <%= @dish.dish_group %>
</p>

<p>
  <strong>Name:</strong>
  <%= @dish.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dish.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dish.price %>
</p>

<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Back', dishes_path %>
