<div class="cont">

  <!--<p id="notice"><%= notice %></p>-->

  <h1>Restaurantes</h1>
  <%= link_to '+ Agregar', new_restaurant_path, class:"btnAdd" %>

  <table class="table">
    <thead>
      <tr>
        <!--<th>User</th>-->
        <th>Fecha Creación</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <!--<th>Dirección</th>
        <th>Teléfono</th>-->
        <th colspan="2">Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <!--<td><%= restaurant.user.email %></td>-->
          <td><%= link_to restaurant.created_at, restaurant %></td>
          <td><%= link_to restaurant.name, restaurant %></td>
          <td><%= link_to restaurant.description, restaurant %></td>
          <!--<td><%= restaurant.address %></td>
          <td><%= restaurant.phone %></td>
          <td><%= link_to 'Show', restaurant %></td>-->
          <td><%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_restaurant_path(restaurant) %></td>
          <td><%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, restaurant, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>