<div class="cont">

  <!--<p id="notice"><%= notice %></p>-->

  <!--<p>
    <strong>User:</strong>
    <%= @restaurant.user.email %>
  </p>-->

  <div class="contImg">
    <%= image_tag @restaurant.logo.url(), class:"img" %>
  </div>

  <p>
    <strong>Nombre:</strong>
    <%= @restaurant.name %>
  </p>

  <p>
    <strong>Descripción:</strong>
    <%= @restaurant.description %>
  </p>

  <p>
    <strong>Dirección:</strong>
    <%= @restaurant.address %>
  </p>

  <p>
    <strong>Teléfono:</strong>
    <%= @restaurant.phone %>
  </p>

  <div style="float: right;">
    <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_restaurant_path(@restaurant), style:"margin-right: 15px;" %>
    <%= link_to '<i class="fas fa-long-arrow-alt-left"></i>'.html_safe, restaurants_path %>
  </div>
</div>